@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');

html {
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
}

body {
    margin: 0;
    font-family: 'poppins', sans-serif;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #e92a3a;
    border: 2px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
}

::selection {
    background-color: #e92a3a;
    color: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.section-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}

.section-title h1 {
    display: inline-block;
    font-size: 35px;
    font-weight: 700px;
    color: #000;
    margin: 0 0 5px;
    position: relative;
}

.section-title h1::before {
    content: '';
    height: 2px;
    background-color: #e92a3a;
    position: absolute;
    bottom: 0;
    width: 40px;
    left: 0;
    right: 0;
    margin: auto;
    transition: all 0.5s ease !important;
}

.section-title h1:hover::before {
    width: 100% !important;
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

/* HEADER */

header {
    top: 0;
    background: black;
    position: sticky;
    left: 0;
    right: 0;
    border-bottom: 1px solid #423940;
    padding: 0px 15px;
    z-index: 10;
}

header .row {
    justify-content: space-between;
    align-items: center;
}

header .brand-name a {
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    position: relative;
}

/* header .brand-name a::before {
  content: '';
  height: 3px;
  background-color: #e92a3a;;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
} */

header .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header .navbar ul li {
    display: inline-block;
    margin-left: 35px;
}

header .navbar ul li a {
    font-size: 15px;
    text-decoration: none;
    line-height: 75px;
    color: #fff;
    display: block;
    font-weight: 600;
    position: relative;
}

header .fixed .navbar ul li a {
    color: #000;
}

header .navbar ul li a::before {
    content: '';
    height: 3px;
    background-color: #fff;
    width: 0%;
    position: absolute;
    right: 0;
    bottom: -1px;
    transition: all 0.5s ease;
}

header .navbar ul li a:hover::before {
    width: 100%;
    left: 0;
}

header .navbar ul li a.active::before {
    width: 100%;
    left: 0;
}

/* END HEADER */

/* HOME START */

.home {
    min-height: 100vh;
    /* background-image: url('https://images.unsplash.com/photo-1527607976958-7cbb4a6d0131?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTl8fG1pbmltYWwlMjBkYXJrfGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=804'); */
    background-color: #000;
    background-size: cover;
    background-position: center;
}

.home .full-screen {
    min-height: 100vh;
}

.home .home-content {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.home .home-content .block {
    flex: 0 0 100%;
    max-width: 50%;
    padding-left: 35px;
}

.home .home-content .block img {
    max-width: 80%;
}

.home .home-content .block h6 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.home .home-content .block h1 {
    color: #fff;
    font-size: 60px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.home .home-content .block h3 {
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.home .home-content .block .cv_btn {
    padding-top: 20px;
}

.home .home-content .block .cv_btn a {
    border-radius: 10px;
    color: #fff;
    border: 2px solid #fff;
    padding: 12px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    transition: all 0.5s ease;
    background-color: transparent;
}

.home .home-content .block .cv_btn a:hover {
    background-color: #fff;
    color: #000;
}

/* HOME END */

/* ABOUT START */

.about-me {
    padding: 100px 15px;
    background-color: #fff;
    position: relative;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.about-me .section-title p .small {
    display: block;
    font-size: 15px;
    color: #838383;
    font-weight: 400;
    letter-spacing: 2px;
}

.about-me .about-content .img {
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

.about-me .about-content .img img {
    width: 100%;
    display: block;
    border-radius: 20px;
}

.about-me .about-content .text {
    flex: 0 0 66.66%;
    max-width: 66.66%;
    padding-left: 70px;
}

.about-me .about-content .text h4 {
    font-size: 25px;
    font-weight: 600;
    margin: 0 0 5px;
    color: #000;
    cursor: pointer;
    border-bottom: 2px solid #000;
}

.about-me .about-content .text h6 {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 15px;
    color: #000;
}

.about-me .about-content .text h6 span {
    color: #e92a3a;
    cursor: grab;
}

.about-me .about-content .text p {
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    color: #000;
    margin: 0 0 20px;
}

/* 
.about-me .about-content .text .social-media {
  padding: 40px;
} */

.about-me .about-content .text .social-media a {
    height: 30px;
    width: 30px;
    background-color: #2e1e1e;
    border-radius: 50px;
    display: inline-block;
    border: 2px solid #000;
    line-height: 28px;
    text-align: center;
    margin: 0 1px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.about-me .about-content .text .social-media a:hover {
    background-color: transparent;
}

.about-me .about-content .text .social-media a .fab {
    color: #fff;
    font-size: 14px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.about-me .about-content .text .social-media a:hover .fab {
    color: #000;
}

/* ABOUT END */

/* MESSAGE */

.message-text {
    background-color: #000;
    padding: 40px 15px;
}

.message-text .text {
    flex: 0 0 66.66%;
    max-width: 66.66%;
}

.message-text .text h2 {
    font-size: 25px;
    color: #fff;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 35px;
}

.message-text .button {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    text-align: right;
}

.message-text .button a {
    border-radius: 5px;
    color: #fff;
    border: 2px solid #eeeeee;
    padding: 13px 30px;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.5s ease;
    background-color: transparent;
}

.message-text .button a:hover {
    background-color: #fff;
    color: #000;
}

.linkedin-text {
    background-color: #fff;
    padding: 40px 15px;
}

.linkedin-text .text {
    flex: 0 0 66.66%;
    max-width: 66.66%;
}

.linkedin-text .text h2 {
    font-size: 25px;
    color: #000;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 35px;
}

.linkedin-text .button {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    text-align: right;
}

.linkedin-text .button a {
    border-radius: 5px;
    color: #000;
    border: 2px solid #000;
    padding: 13px 30px;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.5s ease;
    background-color: transparent;
}

.linkedin-text .button a:hover {
    background-color: #000;
    color: #fff;
}

/* END Message */

/* SKILLS SECTION */

.skills {
    padding: 100px;
    background-color: #fff;
    position: relative;
}

.skills .skills-content {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 40px;
}

.skills .image {
    flex: 0 0 50%;
    max-width: 100%;
    padding-left: 5%;
    padding-top: 5%;
}

.image .section-title p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000;
    margin: 15px 0 0;
    top: 0;
}

.align-items-center {
    align-items: center;
}

.skills .image img {
    width: 100%;
    display: block;
    position: relative;
}

.skills .skills-content .section-title p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000;
    margin: 15px 0 0;
}

.skills .skills-content .skills-box {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px;
}

.skills .skills-content .skills-box h6 {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    margin: 0 0 8px;
    cursor: grab;
}

.skills .skills-content .skills-box h6:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.skills .skills-content .skills-box .skills-bar {
    height: 16px;
    border-radius: 10px;
    background-color: #eee;
    position: relative;
}

.skills .skills-content .skills-box .skills-bar .skills-inthe-bar {
    background-color: #e92a3a;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    cursor: zoom-in;
}

.skills .skills-content .skills-box .skills-bar .skills-inthe-bar span {
    color: #838383;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    right: 0;
    top: -30px;
    cursor: pointer;
}

/* END SKILLS SECTION */

/* TECH STACK START */

.tech-stack {
    background-color: #000;
    padding: 80px 15px 70px;
    position: relative;
}

.tech-stack .container .row .section-title h1 {
    color: #fff;
}

.tech-container {
    position: relative;
    z-index: 1;
    text-align: center;
    padding-top: 5vh;
    width: 100%;
}

.card-row {
    display: grid;
    margin-bottom: 2vh;
    grid-template-columns: 1fr 1fr 1fr;
}

.card-col {
    margin-bottom: 1.5rem;
}

.card-col p {
    margin-top: 0.25rem;
    color: #000;
}

.card-image img {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .tech-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 3rem;
    }
}

/* TECH STACK ENDS */

/* Projects */

.projects {
    padding: 100px 15px 60px;
    background-color: #fff;
    position: relative;
}

.projects .projects-contents {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 12vh;
}

.projects .projects-contents .box {
    flex: 0 0 calc(33.33% - 25px);
    max-width: calc(33.33% - 25px);
}

.projects .projects-contents .box .image {
    overflow: hidden;
}

.projects .projects-contents .box .image img {
    width: 100%;
    display: block;
    transition: all 0.5s ease;
    border: 1px solid #000;
    position: relative;
}

.projects .projects-contents .box .information {
    padding: 10px 0;
}

.projects .projects-contents .box .information span {
    font-size: 15px;
    color: #858483;
    font-weight: 400;
}

.projects .projects-contents .box .information h3 {
    font-size: 22px;
    font-weight: 600;
    color: #000;
    margin: 0 0 10px;
    padding: 0;
}

.projects .projects-contents .box p {
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    color: #000;
    margin: 0 0 10px;
}

.projects .projects-contents .box a {
    font-size: 15px;
    color: #e92a3a;
    text-transform: uppercase;
    text-align: end;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    border-bottom: 2px solid #e92a3a;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.projects .projects-contents .box a:hover {
    color: #000;
    border-color: #000;
}

/* Projects End */

/* Contact Section */

.contact-section {
    background-color: #000;
    padding: 80px 15px 70px;
    position: relative;
}

.contact-section .section-title h1 {
    color: #fff;
    margin-bottom: 1.5rem;
}

.my-form li,
.my-form .grid>*:not(:last-child) {
    margin-bottom: 1.5rem;
}

.my-form select,
.my-form input,
.my-form textarea,
.my-form button {
    width: 100%;
    line-height: 1.5;
    padding: 15px 10px;
    border: 1px solid var(--borderFormEls);
    color: var(--white);
    background: var(--bgFormEls);
    transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
        transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

.my-form textarea {
    height: 170px;
}

.my-form ::placeholder {
    color: inherit;
    /*Fix opacity issue on Firefox*/
    opacity: 1;
}

.my-form select:focus,
.my-form input:focus,
.my-form textarea:focus,
.my-form button:enabled:hover,
.my-form button:focus,
.my-form input[type='checkbox']:focus+label {
    background: var(--bgFormElsFocus);
}

.my-form select:focus,
.my-form input:focus,
.my-form textarea:focus {
    transform: scale(1.02);
}

.my-form *:required,
.my-form select {
    background-repeat: no-repeat;
    background-position: center right 12px;
    background-size: 15px 15px;
}

.my-form select {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/down.svg);
}

:root {
    --white: #afafaf;
    --red: #e31b23;
    --bodyColor: #292a2b;
    --borderFormEls: hsl(0, 0%, 10%);
    --bgFormEls: hsl(0, 0%, 14%);
    --bgFormElsFocus: hsl(0, 7%, 20%);
}

.contact-section a {
    color: inherit;
}

.contact-section input,
.contact-section select,
.contact-section textarea,
.contact-section button {
    font-family: inherit;
    font-size: 100%;
}

.contact-section button,
.contact-section label {
    cursor: pointer;
}

.contact-section select {
    appearance: none;
}

/* Remove native arrow on IE */
.contact-section select::-ms-expand {
    display: none;
}

.contact-section select:-moz-focusring {
    color: transparent !important;
    text-shadow: 0 0 0 var(--white);
}

.contact-section textarea {
    resize: none;
}

.contact-section ul {
    list-style: none;
}

.contact-section .select-opt {
    border-radius: 10px;
}

.contact-section body {
    font: 18px/1.5;
    background: var(--bodyColor);
    color: var(--white);
    margin: 1.5rem 0;
}

.my-form .required-msg {
    display: none;
    padding-left: 20px;
}

.my-form .btn-grid {
    position: relative;
    overflow: hidden;
    transition: filter 0.2s;
}

.my-form button {
    font-weight: bold;
}

.my-form button>* {
    display: inline-block;
    width: 100%;
    transition: transform 0.4s ease-in-out;
}

.my-form button .back {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-110%, -50%);
}

.my-form button:enabled:hover .back,
.my-form button:focus .back {
    transform: translate(-50%, -50%);
}

.my-form button:enabled:hover .front,
.my-form button:focus .front {
    transform: translateX(110%);
}

.contact-section .image {
    max-width: 90%;
}

.flex-row {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-col {
    margin: 6px;
    padding: 0 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: column;
    box-sizing: border-box;
}

@media (max-width: 767px) {
    .flex-col {
        flex-basis: calc(50% - 12px);
    }
}

@media (max-width: 460px) {
    .flex-col {
        flex-basis: 100%;
    }
}

/* MQ
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-width: 600px) {
    .my-form .grid {
        display: grid;
        grid-gap: 1.5rem;
    }

    .my-form .grid-2 {
        grid-template-columns: 1fr 1fr;
    }

    .my-form .grid-3 {
        grid-template-columns: auto auto auto;
        align-items: center;
    }

    .my-form .grid>*:not(:last-child) {
        margin-bottom: 0;
    }

    .my-form .required-msg {
        display: block;
    }
}

.footer-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-nav a {
    color: inherit;
    text-decoration: none;
    padding: 1rem;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.main-footer {
    flex: 1;
    height: 100px;
    flex-direction: column;
}

footer {
    background-color: #000;
    padding-bottom: 10px;
}

footer .social-media {
    flex: 0 0 100%;
    text-align: center;
}

footer .fab:hover,
.fa:hover {
    opacity: 0.7;
}

footer .fa-facebook {
    padding: 10px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin: 2.5px 1px;
    border-radius: 50%;
    background: #292a2b;
    color: white;
    width: 40px;
}

footer .fa-envelope {
    padding: 10px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin: 2.5px 1px;
    border-radius: 50%;
    width: 40px;
    background: #292a2b;
    color: white;
}

footer .fa-linkedin {
    padding: 10px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin: 2.5px 1px;
    border-radius: 50%;
    width: 40px;
    background: #292a2b;
    color: white;
}

footer .fa-github {
    padding: 10px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin: 2.5px 1px;
    border-radius: 50%;
    width: 40px;
    background: #292a2b;
    color: white;
}

/* Responsive Design */

.navigation-bar {
    display: none;
}

.hamburger {
    width: 30px;
    position: relative;
    cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    height: 5px;
    background-color: #000;
    display: inline-block;
    transition: all 0.4s cubic-bezier(0.5, -0.05, -0.6, 0.53);
    border-radius: 2px;
    cursor: pointer;
}

.hamburger::before,
.hamburger::after {
    content: '';
    width: 15px;
    position: absolute;
}

.hamburger::before {
    transform: translateY(-10px);
    transform-origin: right;
}

.hamburger::after {
    transform: translateY(10px);
    right: 0;
    transform-origin: left;
}

input[type='checkbox']:checked+label .hamburger::before,
input[type='checkbox']:checked+label .hamburger::after {
    transform: translate(0) rotate(450deg);
}

input[type='checkbox']:checked+label .hamburger {
    transform: rotate(45deg);
}

/* MQ */

@media (max-width: 991px) {
    .home .home-content .block {
        flex: 0 0 100%;
        max-width: 75%;
        padding-left: 35px;
    }

    .home .home-content .block img {
        display: none;
    }

    .home .home-content .block h1 {
        font-size: 50px;
    }
}

@media (max-width: 767px) {

    .home .home-content .block {
        flex: 0 0 100%;
        max-width: 75%;
        padding-left: 35px;
        padding-top: 50%;
    }

    .home .home-content .block h1 {
        font-size: 40px;
    }

    .home .home-content .block h3 {
        font-size: 25px;
    }

    .home .home-content .block .cv_btn a {
        border-radius: 10px;
        color: #fff;
        border: 2px solid #fff;
        padding: 12px 25px;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 700;
        transition: all 0.5s ease;
        background-color: transparent;
    }

    header {
        padding: 15px;
        position: fixed;
        border: none;
    }

    .hamburger,
    .hamburger::before,
    .hamburger::after {
        background-color: #fff;
    }

    .hamburger {
        display: inline-block;
        cursor: pointer;
    }

    .navbar {
        position: absolute;
        background-color: #838383;
        width: 100%;
        left: 0;
        top: 60px;
        padding: 15px;
        display: none;
    }

    .navbar.show {
        display: block;
    }

    header .navbar ul li {
        display: block;
        margin-left: 0;
    }

    header .navbar ul li a {
        line-height: 42px;
        color: #000;
    }

    header .navbar ul li a::before {
        background-color: #e92a3a;
    }

    .about-me .about-content .text {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0;
        padding-top: 30px !important;
    }

    .about-me .about-content .img {
        flex: 0 0 100%;
        margin-left: auto;
        margin-right: auto;
        max-width: 80%;
    }

    .about-me .about-content .img img {
        border-radius: 10px;
    }

    .message-text .text {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .message-text .button {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: right;
        padding-top: 20px;
    }

    .linkedin-text .text {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .linkedin-text .button {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: right;
        padding-top: 20px;
    }

    .skills .skills-content {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 0;
    }

    .skills .image {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0;
    }

    .projects .projects-contents .box {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 40px;
    }

    .contact-section .my-form {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 60px;
    }
}

@media (max-width: 500px) {
    .home .home-content .block h1 {
        font-size: 40px;
    }

    .home .home-content .block h3 {
        font-size: 25px;
    }

    .home .home-content .block {
        padding-left: 20px;
    }

    .home .home-content .block .cv_btn a {
        border-radius: 10px;
        color: #fff;
        border: 2px solid #fff;
        padding: 12px 15px;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 700;
        transition: all 0.5s ease;
        background-color: transparent;
    }

    .about-me,
    .skills,
    .projects {
        padding: 60px 15px;
    }

    .about-me .about-content .text .info .list p {
        flex: 0 0 100%;
    }
}

/* UnderLays */

/* ABOUT */

@media (min-width: 1200px) {
    .underlay_about {
        font-size: 11rem;
    }
}

@media (min-width: 768px) {
    .underlay_about {
        display: block;
        position: absolute;
        font-size: 8rem;
        line-height: 1;
        top: 3rem;
        right: 1rem;
    }
}

.underlay_about {
    color: hsla(0, 0%, 60%, 0.25);
    pointer-events: none;
    text-align: right;
    position: absolute;
}

@media (max-width: 1200px) {
    .underlay_about {
        font-size: 5rem;
        padding-bottom: 20%;
    }
}

@media (max-width: 768px) {
    .underlay_about {
        display: none;
    }
}

/* SKILLS */

@media (min-width: 1200px) {
    .underlay_skills {
        font-size: 11rem;
    }
}

@media (min-width: 768px) {
    .underlay_skills {
        display: block;
        position: absolute;
        font-size: 8rem;
        line-height: 1;
        top: 3rem;
    }
}

.underlay_skills {
    color: hsla(0, 0%, 60%, 0.25);
    pointer-events: none;
    position: absolute;
    text-align: left;
    left: 1rem;
    z-index: 0;
}

@media (max-width: 1200px) {
    .underlay_skills {
        font-size: 5rem;
        padding-bottom: 20%;
    }
}

@media (max-width: 768px) {
    .underlay_skills {
        display: none;
    }
}

/* TECH */

@media (min-width: 1200px) {
    .underlay_stack {
        font-size: 8rem;
    }
}

@media (min-width: 768px) {
    .underlay_stack {
        display: block;
        position: absolute;
        font-size: 8rem;
        line-height: 1;
        bottom: 3rem;
    }
}

.underlay_stack {
    color: hsla(0, 0%, 60%, 0.25);
    pointer-events: none;
    position: absolute;
    text-align: right;
    right: 1rem;
    z-index: 0;
}

@media (max-width: 1200px) {
    .underlay_stack {
        font-size: 5rem;
        padding-bottom: 20%;
    }
}

@media (max-width: 768px) {
    .underlay_stack {
        display: none;
    }
}