@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');

html {
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
}

body {
    margin: 0;
    font-family: 'poppins', sans-serif;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #e92a3a;
    border: 2px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
}

::selection {
    background-color: #e92a3a;
    color: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.section-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}

.section-title h1 {
    display: inline-block;
    font-size: 35px;
    font-weight: 700px;
    color: #000;
    margin: 0 0 5px;
    position: relative;
}

.section-title h1::before {
    content: '';
    height: 2px;
    background-color: #e92a3a;
    position: absolute;
    bottom: 0;
    width: 40px;
    left: 0;
    right: 0;
    margin: auto;
    transition: all 0.5s ease !important;
}

.section-title h1:hover::before {
    width: 100% !important;
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

/* HEADER */

header {
    top: 0;
    background: black;
    position: sticky;
    left: 0;
    right: 0;
    border-bottom: 1px solid #423940;
    padding: 0px 15px;
    z-index: 10;
}

header .row {
    justify-content: space-between;
    align-items: center;
}

header .brand-name a {
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    position: relative;
}

/* header .brand-name a::before {
  content: '';
  height: 3px;
  background-color: #e92a3a;;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
} */

header .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header .navbar ul li {
    display: inline-block;
    margin-left: 35px;
}

header .navbar ul li a {
    font-size: 15px;
    text-decoration: none;
    line-height: 75px;
    color: #fff;
    display: block;
    font-weight: 600;
    position: relative;
}

header .fixed .navbar ul li a {
    color: #000;
}

header .navbar ul li a::before {
    content: '';
    height: 3px;
    background-color: #fff;
    width: 0%;
    position: absolute;
    right: 0;
    bottom: -1px;
    transition: all 0.5s ease;
}

header .navbar ul li a:hover::before {
    width: 100%;
    left: 0;
}

header .navbar ul li a.active::before {
    width: 100%;
    left: 0;
}

/* END HEADER */

/* HOME START */

.home {
    min-height: 100vh;
    /* background-image: url('https://images.unsplash.com/photo-1527607976958-7cbb4a6d0131?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTl8fG1pbmltYWwlMjBkYXJrfGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=804'); */
    background-color: #000;
    background-size: cover;
    background-position: center;
}

.home .full-screen {
    min-height: 100vh;
}

.home .home-content {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.home .home-content .block {
    flex: 0 0 100%;
    max-width: 50%;
    padding-left: 35px;
}

.home .home-content .block img {
    max-width: 80%;
}

.home .home-content .block h6 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.home .home-content .block h1 {
    color: #fff;
    font-size: 60px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.home .home-content .block h3 {
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.home .home-content .block .cv_btn {
    padding-top: 20px;
}

.home .home-content .block .cv_btn a {
    border-radius: 10px;
    color: #fff;
    border: 2px solid #fff;
    padding: 12px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    transition: all 0.5s ease;
    background-color: transparent;
}

.home .home-content .block .cv_btn a:hover {
    background-color: #fff;
    color: #000;
}

/* HOME END */

/* ABOUT START */

.about-me {
    padding: 100px 15px;
    background-color: #fff;
    position: relative;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.about-me .section-title p .small {
    display: block;
    font-size: 15px;
    color: #838383;
    font-weight: 400;
    letter-spacing: 2px;
}

.about-me .about-content .img {
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

.about-me .about-content .img img {
    width: 100%;
    display: block;
    border-radius: 20px;
}

.about-me .about-content .text {
    flex: 0 0 66.66%;
    max-width: 66.66%;
    padding-left: 70px;
}

.about-me .about-content .text h4 {
    font-size: 25px;
    font-weight: 600;
    margin: 0 0 5px;
    color: #000;
    cursor: pointer;
    border-bottom: 2px solid #000;
}

.about-me .about-content .text h6 {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 15px;
    color: #000;
}

.about-me .about-content .text h6 span {
    color: #e92a3a;
    cursor: grab;
}

.about-me .about-content .text p {
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    color: #000;
    margin: 0 0 20px;
}

/* 
.about-me .about-content .text .social-media {
  padding: 40px;
} */

.about-me .about-content .text .social-media a {
    height: 30px;
    width: 30px;
    background-color: #2e1e1e;
    border-radius: 50px;
    display: inline-block;
    border: 2px solid #000;
    line-height: 28px;
    text-align: center;
    margin: 0 1px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.about-me .about-content .text .social-media a:hover {
    background-color: transparent;
}

.about-me .about-content .text .social-media a .fab {
    color: #fff;
    font-size: 14px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.about-me .about-content .text .social-media a:hover .fab {
    color: #000;
}

/* ABOUT END */



/* MQ
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-width: 600px) {
    .my-form .grid {
        display: grid;
        grid-gap: 1.5rem;
    }

    .my-form .grid-2 {
        grid-template-columns: 1fr 1fr;
    }

    .my-form .grid-3 {
        grid-template-columns: auto auto auto;
        align-items: center;
    }

    .my-form .grid>*:not(:last-child) {
        margin-bottom: 0;
    }

    .my-form .required-msg {
        display: block;
    }
}

.footer-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-nav a {
    color: inherit;
    text-decoration: none;
    padding: 1rem;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.main-footer {
    flex: 1;
    height: 100px;
    flex-direction: column;
}

footer {
    background-color: #000;
    padding-bottom: 10px;
}


/* Responsive Design */

.navigation-bar {
    display: none;
}

.hamburger {
    width: 30px;
    position: relative;
    cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    height: 5px;
    background-color: #000;
    display: inline-block;
    transition: all 0.4s cubic-bezier(0.5, -0.05, -0.6, 0.53);
    border-radius: 2px;
    cursor: pointer;
}

.hamburger::before,
.hamburger::after {
    content: '';
    width: 15px;
    position: absolute;
}

.hamburger::before {
    transform: translateY(-10px);
    transform-origin: right;
}

.hamburger::after {
    transform: translateY(10px);
    right: 0;
    transform-origin: left;
}

input[type='checkbox']:checked+label .hamburger::before,
input[type='checkbox']:checked+label .hamburger::after {
    transform: translate(0) rotate(450deg);
}

input[type='checkbox']:checked+label .hamburger {
    transform: rotate(45deg);
}

/* MQ */

@media (max-width: 991px) {
    .home .home-content .block {
        flex: 0 0 100%;
        max-width: 75%;
        padding-left: 35px;
    }

    .home .home-content .block img {
        display: none;
    }

    .home .home-content .block h1 {
        font-size: 50px;
    }
}

@media (max-width: 767px) {

    .home .home-content .block {
        flex: 0 0 100%;
        max-width: 75%;
        padding-left: 35px;
        padding-top: 50%;
    }

    .home .home-content .block h1 {
        font-size: 40px;
    }

    .home .home-content .block h3 {
        font-size: 25px;
    }

    .home .home-content .block .cv_btn a {
        border-radius: 10px;
        color: #fff;
        border: 2px solid #fff;
        padding: 12px 25px;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 700;
        transition: all 0.5s ease;
        background-color: transparent;
    }

    header {
        padding: 15px;
        position: fixed;
        border: none;
    }

    .hamburger,
    .hamburger::before,
    .hamburger::after {
        background-color: #fff;
    }

    .hamburger {
        display: inline-block;
        cursor: pointer;
    }

    .navbar {
        position: absolute;
        background-color: #838383;
        width: 100%;
        left: 0;
        top: 60px;
        padding: 15px;
        display: none;
    }

    .navbar.show {
        display: block;
    }

    header .navbar ul li {
        display: block;
        margin-left: 0;
    }

    header .navbar ul li a {
        line-height: 42px;
        color: #000;
    }

    header .navbar ul li a::before {
        background-color: #e92a3a;
    }

    .about-me .about-content .text {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0;
        padding-top: 30px !important;
    }

    .about-me .about-content .img {
        flex: 0 0 100%;
        margin-left: auto;
        margin-right: auto;
        max-width: 80%;
    }

    .about-me .about-content .img img {
        border-radius: 10px;

    }
}

@media (max-width: 500px) {
    .home .home-content .block h1 {
        font-size: 40px;
    }

    .home .home-content .block h3 {
        font-size: 25px;
    }

    .home .home-content .block {
        padding-left: 20px;
    }

    .home .home-content .block .cv_btn a {
        border-radius: 10px;
        color: #fff;
        border: 2px solid #fff;
        padding: 12px 15px;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 700;
        transition: all 0.5s ease;
        background-color: transparent;
    }

    .about-me,
    .skills,
    .projects {
        padding: 60px 15px;
    }

    .about-me .about-content .text .info .list p {
        flex: 0 0 100%;
    }
}

/* UnderLays */

/* ABOUT */

@media (min-width: 1200px) {
    .underlay_about {
        font-size: 11rem;
    }
}

@media (min-width: 768px) {
    .underlay_about {
        display: block;
        position: absolute;
        font-size: 8rem;
        line-height: 1;
        top: 3rem;
        right: 1rem;
    }
}

.underlay_about {
    color: hsla(0, 0%, 60%, 0.25);
    pointer-events: none;
    text-align: right;
    position: absolute;
}

@media (max-width: 1200px) {
    .underlay_about {
        font-size: 5rem;
        padding-bottom: 20%;
    }
}

@media (max-width: 768px) {
    .underlay_about {
        display: none;
    }
}

/* SKILLS */

@media (min-width: 1200px) {
    .underlay_skills {
        font-size: 11rem;
    }
}

@media (min-width: 768px) {
    .underlay_skills {
        display: block;
        position: absolute;
        font-size: 8rem;
        line-height: 1;
        top: 3rem;
    }
}

.underlay_skills {
    color: hsla(0, 0%, 60%, 0.25);
    pointer-events: none;
    position: absolute;
    text-align: left;
    left: 1rem;
    z-index: 0;
}

@media (max-width: 1200px) {
    .underlay_skills {
        font-size: 5rem;
        padding-bottom: 20%;
    }
}

@media (max-width: 768px) {
    .underlay_skills {
        display: none;
    }
}

/* TECH */

@media (min-width: 1200px) {
    .underlay_stack {
        font-size: 8rem;
    }
}

@media (min-width: 768px) {
    .underlay_stack {
        display: block;
        position: absolute;
        font-size: 8rem;
        line-height: 1;
        bottom: 3rem;
    }
}

.underlay_stack {
    color: hsla(0, 0%, 60%, 0.25);
    pointer-events: none;
    position: absolute;
    text-align: right;
    right: 1rem;
    z-index: 0;
}

@media (max-width: 1200px) {
    .underlay_stack {
        font-size: 5rem;
        padding-bottom: 20%;
    }
}

@media (max-width: 768px) {
    .underlay_stack {
        display: none;
    }
}